# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: macOS-latest
    permissions:
       # IMPORTANT: this permission is mandatory for Trusted Publishing
       id-token: write
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python download_binaries.py darwin ${{ secrets.ACCESS_TOKEN }}
    - name: Build Darwin 11
      run: |
        python setup.py bdist_wheel
        python rename.py macos11
    - name: Build Darwin intel
      run: |
        python setup.py bdist_wheel
        python rename.py macos_intel
    - name: Build Darwin universal
      run: |
        python setup.py bdist_wheel
        python rename.py macos_uni
    - name: Publish package distributions to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload dist/*
